<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>イベント付与演習</title>
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <h1>イベント付与（アラート）</h1>

    <button id="btn-alert" type="button">アラート表示</button>

    <script>
        $(document).ready(function() {
            $('#btn-alert').on('click', function() {
                alert('Hello World');
            });
        });
    </script>
</body>
</html>